{% extends 'navigation.html' %}

{% block content %}
 
           <div class="inner cover">
             <h1 class="cover-heading">Upload your resume</h1>


             <form action="{% url 'uploaddoc' %}" method="post" enctype="multipart/form-data" align="center">
             {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>
                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                <p>{{ form.docfile.errors }}{{ form.docfile }}</p>
                First name:
                <input style="color: #000000;" type="text" name="firstname" value="Mickey">

                Last name:
                <input style="color: #000000;" type="text" name="lastname" value="Mouse">
                <br><br>
  
                <input type="radio" name="type" value="prospective"> Prospective Intern<br>
                <input type="radio" name="type" value="prospective"> Prospective Employee<br>
                <input type="radio" name="type" value="intern"> Intern<br>
                <input type="radio" name="type" value="employee"> Employee<br><br>
                <input class = "button-style" type="submit" value="Upload"/>
            </form>

            <p>
            <form action="{% url 'uploadlist' %}">
                 <input class = "button-style" type="submit" value="Check the upload list" />
             </form>
            </p>

           </div>


      
  {% endblock %}