{% extends 'navigation.html' %}

{% block content %}
    <div class = "body">

<form method="get">
    {{documents.form.as_p}}
      <button type="submit">Search</button>
      </form>
      <p></p>


           <div class="inner cover">
             <h2 class="cover-heading">list of your upload</h2>
             <p>

            <!-- LIST OF THE UPLOAD FILE-->
            <table class="table-fill">
            {% if documents %}
               <thead>
               
					<tr>
						<th style = "padding:14px;" class="text-left">Type</th>
						<th style = "padding:14px;" class="text-left">Name</th>
						<th style = "padding:14px;" class="text-left">File</th>
						<th style = "padding:14px;" class="text-left">Action</th>
					</tr>
               </thead>
			   <tbody class="table-hover">
                  {% for document in documents.qs %}
                    <tr>
                        <td style = "padding:14px;"class="text-left">{{document.type}} </td>
                        <td style = "padding:14px;"class="text-left">{{ document.firstname }} {{document.lastname}}</td>
                        <td style = "padding:14px;"class="text-left"><a style = "color:#ff7e00;" href="{{ document.docfile.url }}">{{document.docfile}}</a></td>
                        <td style="text-align: center" >
                            <form action="{% url 'RSR:listdelete' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="docfile" value="{{ document.pk }}" />
                                <input class = "button-style" type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                    {% else %}
                <h3> No document saved in the database! </h3>
            {% endif %}
            </table>
            <p> </p>
            <!--back btn-->
               
               <a href="{% url 'RSR:uploadlist' %}" class = "button-style" type="button"> Go Back</a>

            </p>
           </div>

            <script>
            function goBack() {
                window.history.back();
            }
            </script>
</div>
  {% endblock %}