{% extends 'navigation.html' %}

{% block content %}

<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{% url 'RSR:search' %}">New Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="about" class="jumbotron text-center">
        <h1>Resume Filter System</h1>
        <p>Please see the detail info for a candidate below</p>
    </div>
<h1>
    {{person.Name}}
</h1>

<div align="center">
    {% for field in person %}
    {{field}}<br>
    {% endfor %}
    {% for item in list %}
    {{item}}<br>
    {% endfor %}
</div>

{% endblock %}