{% extends 'navigation.html' %}

{% block content %}


    {% load widget_tweaks %}

    <div class = body>
        <h1 style = "font-family: Raleway, Arial">Resume Filter System</h1>
    

          <form action="" method="Get" class = "searchform cf">

            <br/>
            <!--  Hide Show filters -->
            <a href="#search-div" class="btn btn-default" data-toggle="collapse">Advanced Search</a>
            <div id = "search-div" class = "collapse">
            <br/>
            <br/>
            <p>Select/type one or more the following fields</p>

            <!-- Search Bar -->
            <div>
                Search Bar:
                <input style="color:#000000" type="text" name="q" placeholder="Input search term" value="{{request.GET.q}}"/>
            </div>
            <p></p>
            <div class="row">
            <fieldset>
                <legend style="color:#FFF">Academia</legend>
              <!-- Filters -->
                <div class="form-group col-sm-2 col-md-2">
                    School Attended:
                    {% render_field personFilter.form.SchoolAttend class="form-control" %}
                </div>
                <div class="form-group col-sm-2 col-md-2">
                    Graduation Date:
                    {% render_field personFilter.form.GraduateDate class="form-control" %}
                </div>
                <div class="form-group col-sm-2 col-md-2">
                    Degree Level:
                    {% render_field personFilter.form.DegreeLevel class="form-control" %}
                </div>
                <div class="form-group col-sm-2 col-md-2">
                    Major:
                    {% render_field personFilter.form.Major class="form-control" %}
                </div>
                <div class="form-group col-sm-2 col-md-2">
                    GPA lower bound:
                    {% render_field personFilter.form.GPAlb class="form-control" %}
                </div>
                <div class="form-group col-sm-2 col-md-2">
                    GPA upper bound:
                    {% render_field personFilter.form.GPAub class="form-control" %}
                </div>
                </fieldset>
                </div>
                <br/>

                <div class = "row">
                <fieldset>
                <legend style="color:#FFF">Skills/Awards</legend>


                <div class="form-group col-sm-3 col-md-3">
                    Skill:
                    {% render_field personFilter.form.Skills class="form-control" %}
                </div>

                <div class="form-group col-sm-3 col-md-3">
                    Year of experience for skill:
                    {% render_field personFilter.form.YearOfExperienceForSkill class="form-control" %}
                </div>

                <div class="form-group col-sm-3 col-md-3">
                    Language Spoken:
                    {% render_field personFilter.form.Language class="form-control" %}
                </div>
                
                <div class="form-group col-sm-3 col-md-3">
                    Awards:
                    {% render_field personFilter.form.Award class="form-control" %}
                </div>
                </fieldset>
                </div>

                <br/>
                <div class = "row">
                <fieldset>
                <legend style="color:#FFF">Professional Experience</legend>
                <div class="form-group col-sm-4 col-md-4">
                    Company worked at:
                    {% render_field personFilter.form.CompanyWorked class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-4">
                    Title:
                    {% render_field personFilter.form.Title class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-4">
                    Professional Development:
                    {% render_field personFilter.form.ProfessionalDevelopment class="form-control" %}
                </div>
                </fieldset>
                </div>
                <br/>
                <div class = "row">
                <fieldset>
                <legend style="color:#FFF">Clearance</legend>

       

                <div class="form-group col-sm-12 col-md-12">
                    Security Clearance:
                    {% render_field personFilter.form.SecurityClearance class="form-control" style=" width: 300px; margin:auto;"%}
                
                </div>
                </fieldset>
				</div>
				
				 <div class = "row">
                <fieldset>
                <legend style="color:#FFF">Extracurricular</legend>
				 <div class="form-group col-sm-6 col-md-6">
					Volunteering:
                    {% render_field personFilter.form.Volunteering class="form-control" style=" width: 300px; margin:auto;"%}
                 </div>
                 <div class="form-group col-sm-6 col-md-6">
                     Club:
                     {% render_field personFilter.form.Club_Hobby class="form-control" style=" width: 300px; margin:auto;"%}
                  </div>	
				  </fieldset>
				  </div>

            
            <p></p>
            <div align="center">
            <button type="submit" class="button-style">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
			
        </div>
        <br/>
        </div>
		


    </form>

    <p>   </p>
    <div align="center">
    <div class = "body">
  <table class = "table-fill">
   <thead>
     <tr>
       <th style = "padding:14px;"class = "text-left">Type</th>
       <th style = "padding:14px;"class = "text-left">Name</th>
       <th style = "padding:14px;"class = "text-left">Resume</th>
       <th style = "padding:14px;"class = "text-left">E-Mail</th>
       <th style = "padding:14px;"class = "text-left">Phone</th>

     </tr>

   </thead>
   <tbody class="table-hover">
     {% for obj in personFilter.qs %}
       <tr>
         <td style = "padding:14px;"class = "text-left">{{obj.TypeResume}}</td>
         <td style = "padding:14px;"class = "text-left"> <a  style = "color:#ff7e00;"href="{% url 'RSR:detail' obj.pk %}">{{obj.Name}}</a></td>
         <td style = "padding:14px;"class = "text-left"><a class = "button-style" href="{{ obj.Resume.url }}">View</a></td>     
         <td style = "padding:14px;"class = "text-left">{{ obj.Email }}</td>
        <td style = "padding:14px;"class = "text-left">{{ obj.PhoneNumber }}</td>

       </tr>
     {% empty %}
       <tr>
         <td colspan="5">No data</td>
       </tr>
     {% endfor %}
   </tbody>
 </table>
    </div>

    </div>
    </div>

{% endblock %}





