
{% extends 'navigation.html'%}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

<div class = "form">


 <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div style="color:#000000">

        <h3>Welcome</h3>
        <div class ="left">
        {{ form.username.label_tag }}
        </div>

         <div class ="right">
        {{ form.username }}
         </div>
        <br />
        <br />
         <div class ="left">
        {{ form.password.label_tag }}
         </div>

         <div class ="right">
        {{ form.password }}
         </div>


    <br><br>
        <button class = "button-style">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
</div>

    {% endblock %}

</body>

</html>
