
{% extends 'navigation.html'%}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

<div class = "form">


 <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div style="color:#000000">


        {{ form.username.label_tag }}


        {{ form.username }}
        <br />
        <br />
        {{ form.password.label_tag }}
        &nbsp;

        {{ form.password }}


    <br><br>
        <button class = "button-style">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
</div>

    {% endblock %}

</body>

</html>
